aroma-core/src/main/res/xml/aroma_map_res.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="map">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entry" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element type="xs:string" name="key" minOccurs="0" />
                            <xs:element type="xs:string" name="value" minOccurs="0" />
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" />
                        <xs:attribute type="xs:string" name="value" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="HASHMAP" />
                        <xs:enumeration value="TREEMAP" />
                        <xs:enumeration value="LINKED_HASHMAP" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="collection">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="LIST" />
                        <xs:enumeration value="SET" />
                        <xs:enumeration value="ORDERED_SET" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>


